<%= render partial: "layouts/head_tags" %>

<header class="about-header">
  
  <div class="row">
    
    <div class="container">
      
      <h1 class="about-header-heading">About Us</h1>

    </div>

  </div>

</header>

<section class="white-background about-us-section">
  
  <div class="row">
    
    <div class="container">
      
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        
        <h2 class="about-section-heading">
          What is this all about?
        </h2>

        <p class="about-section-paragraph">
          <b>Help A Noob</b> was created with the idea that coders, and especially beginner coders, should not feel intimidated or frustrated by the responses to their questions found online.
          Our team is made up of designers, front-end developers, and back-end developers whom are all dedicated to building a question and answer platform that is encouraging, inviting, and accepting of coders from all backgrounds and skill levels, from novice to expert.
          In fact, many of our team members have less than a year of experience.
        </p>

        <p class="about-section-paragraph about-section-bottom-paragraph">
          Trust us, we get you.
          We have all been there.
        </p>

      </div><!-- col -->

    </div><!-- container -->

  </div><!-- row -->

</section>

<section class="about-team-section">
  
  <div class="row">
    
    <div class="col-xs-12 col-sm-6 team-member-col">
      
    </div>

    <div class="col-xs-12 col-sm-6 team-member-col">
      
    </div>

  </div>

</section>