<% if user_signed_in? %>
  
  <div class="row home-row">
   <% @home_posts.each do |p| %>
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-3 col-lg-6 col-lg-offset-3 main-col p-l-0 p-r-0 pagination-col">

      <p class="main-home-p">
        <%= link_to image_tag(current_user.avatar), profile_path, class: "question-user-photo" %>
        <%=link_to (truncate (p.description), length: 100), post_path(p), class: "home-question-link" %>
          <i class="fa fa-heart-o fa-question-star">
            <i class="number-of-votes">112</i>
          </i>
      </p>

  </div>
  <% end %>
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-3 col-lg-6 col-lg-offset-3 p-l-0 p-r-0">
    <a href="" class="btn btn-green btn-load">Load more</a>
    
  </div>
</div><!--home-row  -->


<input type="text" class="form-control main-search" placeholder="Search for...">
<% else %>
  <%= link_to "Sign in", sign_in_path %>
<% end %>

<script>
  $(function(){
    $(".pagination-col p").slice(0, 2).show(); // select the first ten
    $(".btn-load").click(function(e){ // click event for load more
        e.preventDefault();
        $(".pagination-col p:hidden").slice(0, 2).show(); // select next 10 hidden divs and show them
        if($(".pagination-col p:hidden").length == 0){ // check if any hidden divs still exist
            alert("No more divs"); // alert if there are none left
        }
    });
});
</script>