<% if user_signed_in? %>
  <div class="row home-row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1>Hottest Questions</h1> 
    </div>
     <% @home_posts.each do |post| %>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
     <p><%= link_to post.description, post_path(post)%></p>
     <hr>    
    </div>
     <% end %>
  </div>
 
<% else %>
  <h1>Please <%= link_to "sign_in", sign_in_path %></h1>
  <h1>Here will be landing page for not signed_in users</h1>
<% end %>