<%= render partial: "layouts/head_tags" %>
<div class="landing-wrapper">
  <header class="landing-header">

    <div class="bg-wrap">
      <div class="header-bg-img bg-img slide-active"></div>
      <div class="header-bg-img bg-img"></div>
      <div class="header-bg-img bg-img"></div>
      <div class="header-bg-img bg-img"></div>
    </div>
      
    <div class="row landing-top-row">
      <div class="container">

        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <h1 class="landing-heading white-text">
            Help a noob! 
          </h1>

          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-bordered-white btn-landing" %>
          </div>

      </div>
    </div>

    <div class="arrow-container">
      <a href="#next-section">
        <i class="fa fa-angle-double-down white-text"></i>
      </a>
    </div><!-- arrow-con -->

  </header>

  <section class="white-background" id="next-section">
   <div class="row section-row">
      
      <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <h2 class="landing-text">Ask anything you want!</h2>
      </div>

   </div>
  </section>

  <section class="brown-background">
    <div class="row section-row">
      
      <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <h2 class="landing-text white-text">From one noob to another!</h2>
      </div>

   </div>
  </section>

  <section class="white-background" id="next-section">
   <div class="row section-row">
      
      <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <h2 class="landing-text">No RTFM answers!</h2>
      </div>

   </div>
  </section>


  <section class="brown-background" id="next-section">
     <div class="row section-row">

      <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <h2 class="landing-text white-text">There is no such thing as stupid question!</h2>
      </div>

    </div>
  </section>

</div><!-- landing wrapper -->


<script>
  $("body").css("background-color", "transparent");

  var imgs = $(".bg-img");
  i = -1;
  (function f(){
    i = (i + 1) % imgs.length;

    $(imgs).not(imgs[i]).removeClass("slide-active")
    $(imgs[ i ]).addClass("slide-active")
    setTimeout(f, 7000);
  })();

</script>