<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>New question has been asked!</h3>
    <h2><%= truncate(@post.title, length: 50) %> asked by <%= @post.user.username %></h2>
    <%= link_to "Follow this link to answer the question", post_url(@post) %>

  </body>
</html>