 <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 main-col comments-col">
   <div class="col-xs-12 col-sm-10 p-l-0 p-r-0">
    <p class="comment-content">
    <%= comment.content %>
    </p>
  </div>   

  <div class="col-xs-12 col-sm-2">
    <i class="fa fa-heart comment-heart"></i>
    <span class="c-number-of-votes text-center">
      110
    </span> 
  </div>

  <div class="col-xs-12 col-sm-12 p-l-0 p-r-0">
    <span class="comment-email green-text">
      <%= comment.user.email %> link
    </span>
    <span class="comment-date">
      <%= comment.created_at %>
    </span>

    
<p>Delete this comment:   <%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %> </p>
  </div>
</div>