<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 new-comment-col">

<%= form_for([@post, @post.comments.build]) do |f| %>
  <%= f.text_area :content %>
  <%= f.submit class: "btn-green" %>
<% end %>
</div>