<div class="panel panel-default">
  <div class="panel-heading"><%= @conversation.subject %></div>

  <div class="panel-body">
    <div class="messages">
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <% message = receipt.message %>

        FROM:<%= message.sender.username %><br />
          says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %><br />
        <%= message.body %><br />
      <% end %>
    </div>
  </div>
</div>