<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
  <hr>
    <li>Email: <%= user.email %></li>
    <li>Posts: <%= user.posts.count %></li>
    <li>Comments: <%= user.comments.count %></li>
    <hr>
  <% end %>
</ul>