<div class="row user-profile-row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-3 home-col p-l-0 p-r-0">
    <h1 class="user-name">
      User name
    </h1>

   wfgdfhgf
  </div>
</div>