Mail: <%= @user.email %>
<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.text_area :description, placeholder: "Compose new post..." %>
  </div>
<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>