<%= form_for([current_user, current_user.skills.build], :method => :create, remote: true) do |f| %>
  
  <%= f.text_field :name, class: "green-textarea green-input", placeholder: "Add skill" %>
  <%= f.number_field :strength, class: "green-textarea green-input", placeholder: "Add number" %>
  <%= f.submit class: "btn-green btn-submit btn-submit-skill" %>
  <button type="button" class="btn btn-default create-skill-dismiss" data-dismiss="modal">Close</button>
<% end %>
