<%= link_to like_post_path(@post), class: "like", method: :put do %>
<i class="fa fa-heart main-question-icon">
</i>
<% end %>
<%= link_to "dislike", dislike_post_path(@post), class: "dislike", method: :put %>

<span class="number-of-votes">
 <%= @post.cached_weighted_score %><br />
</span>

<script>
  $(".like").click(function(){
    $(this).toggleClass("show");
  })
</script>