/*$(".post-title").val("");
$(".post-content").val("");

<% if @post.errors.any? %>
$("#createpost").modal("show");
$("#createpost .modal-content").append("<h1>Errors: </h1> <%= @post.errors.full_messages %>");

<% else %>
$("#newpost").modal("hide");

$("#container-posts").prepend("<h1>Here is your newest post: </h1> <%= j render @post %>");
<% end %>*/