<%= render @post %>
<h3 class="comment-heading">Share your wisdom <span class="icon-elegant-font-174-8823 lighbulb"></span></h3>
<%= render "comments/form" %>
<div id="comment-wrapper" class="clearfix">
  <%= render @comments %>
</div>



<% if @comments.any? %>
  <% unless @comments.current_page == @comments.total_pages %>
     <p id="view-more" class="clearfix">
      <%= link_to('View More', url_for(page: @comments.current_page + 1), class: "btn-orange-bordered btn-full btn-load") %>
    </p>
  <% end %>
<% end %>