<%= render @post %>
<div id="comment-wrapper" class="clearfix">
  <%= render @comments %>
</div>

<h3 class="comment-heading">Share your wisdom</h3>
<%= render "comments/form" %>

<% if @comments.any? %>
  <% unless @comments.current_page == @comments.total_pages %>
     <p id="view-more" class="clearfix">
      <%= link_to('View More', url_for(page: @comments.current_page + 1), class: "btn-green btn-full btn-load") %>
    </p>
  <% end %>
<% end %>