<div class="row main-posts-row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 main-post-col">
    <h1 class="post-title"> <%= truncate @post.description, length: 50%></h1>
    <p class="post-description"><%= @post.description %>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique magni quos voluptatem laboriosam commodi? Dolores reiciendis aliquid blanditiis architecto sed enim cupiditate, aut sit adipisci accusamus. Molestias vero, esse recusandae. Sapiente distinctio asperiores voluptatem debitis, ea, vitae tenetur vel, obcaecati veniam ipsum unde incidunt soluta officiis voluptas impedit iusto sit!
    </p>
  </div>

   <% @post.comments.each do |c| %>
   <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 main-comment-col">
    <p class="comment">
      <%= c.content %>
    </p> 
   </div>
   <% end %>
  
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 add-comment-col">
      <h3>Add your comment</h3>
      
    </div>
</div><!-- row -->
