<%= render  @post %>
<%= render  @comment %>

<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 new-comment-col">
  <h2>Share your wisdom</h2>
  <%= render "comments/form" %>
</div>
