@import "mixins";
@import "colors";

.btn {
  text-decoration: none !important;
  cursor: pointer; 
  &:hover,
  &:focus {
    text-decoration: none !important;
    cursor: pointer !important; 
    outline: none; 
  } 
}

.btn-light-blue {
  padding: 7px 12px;
  background-color: $light-blue;
  color: #fff;
  border: 1px solid $light-blue;
  -webkit-border-radius: 10px; 
   border-radius: 10px;  
  @include transition(.7s);
  &:hover {
    color: $light-blue;
    background-color: #fff; 
  } 
}

.btn-bordered-light {
  border: 1px solid $light-blue !important;
  background-color: #FFF;
  color: $light-blue;
  padding: 7px 12px !important;
  @include transition(.7s);
  &:hover,
  &:focus {
    color: #fff !important;
    background-color: $light-blue;  
  }
}


.btn.btn-bordered-white {
  border: 1px solid white;
  width: 200px;
  color: #fff;
  margin-top: 50px;
}

.btn-blue-link {
  color: $light-blue;
  background: none;
  @include transition(.7s);
  &:hover {
    color: $dark-blue-2;
  } 
}


.btn-full {
  width: 100%; 
  padding: 7px 0; 
  display: block; 
  text-align: center;
}

.btn-submit {
  font-size: 14px;
  padding: 10px 20px;  
}

.btn-small {
  padding: 10px 30px; 
}

.btn-dark-blue {
  color: $white;
  background-color: $dark-blue-2;
  padding: 20px 30px;
  -webkit-border-radius: 20px; 
  border-radius: 20px; 
}

.btn-orange {
  width: auto;
  border: none;
  -webkit-border-radius: 10px; 
    border-radius: 10px;   
  background-color: $orange;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  text-decoration: none;
  @include transition(.5s);
  
  &:hover,
  &:focus {
    @include transition(.5s);
    color: #fff;
    background-color: $light-orange; 
  }   
}

.btn-orange-bordered {
  background-color: #fff;
  color: $orange;
  border: 2px solid $orange;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius: 10px; 
     border-radius: 10px; 
  text-decoration: none; 
  margin-top: 0;
  margin-bottom: 50px;  
  width: auto; 
  @include transition(1s);
  &:hover,
  &:focus {
    background-color: $orange;
    color: #fff;
    text-decoration: none;
    @include transition(1s); 
  }
}

.btn-submit-modal {
  margin-top: 10px; 
}

.btn-close-modal {
  display: inline-block;
  margin-left: 15px;
}

.btn-orange-link {
  color: $orange;
  font-size: 14px; 
  @include transition(.5s);
  &:hover {
    @include transition(.5s);
    color: $light-blue;
  }
}


.btn-load,
.btn-submit {
  margin-top: 50px; 
}