@import "mixins";
@import "colors";

.btn {
  text-decoration: none !important;
  cursor: pointer; 
  &:hover,
  &:focus {
    text-decoration: none !important;
    cursor: pointer !important; 
    outline: none; 
  } 
}

.btn-light-blue {
  padding: 7px 12px;
  background-color: $light-blue;
  color: #fff;
  border: 1px solid $light-blue;
  -webkit-border-radius: 10px; 
   border-radius: 10px;  
  @include transition(.7s);
  &:hover {
    color: $light-blue;
    background-color: #fff; 
  } 
}

.btn-bordered-light {
  border: 1px solid $light-blue !important;
  background-color: #FFF;
  color: $light-blue;
  padding: 7px 12px !important;
  @include transition(.7s);
  &:hover,
  &:focus {
    color: #fff !important;
    background-color: $light-blue;  
  }
}


.btn-blue-link {
  color: $light-blue;
  background: none;
  @include transition(.7s);
  &:hover {
    color: $dark-blue-2;
  } 
}

.btn-load,
.btn-submit {
  width: 100%; 
  margin-top: 50px; 
}

.btn-full {
  width: 100%; 
  padding: 7px 0; 
  display: block; 
  text-align: center;
}

.btn-submit {
  font-size: 14px;
  padding: 10px 20px;  
}

.btn-small {
  padding: 10px 30px; 
}

.btn-dark-blue {
  color: $white;
  background-color: $dark-blue-2;
  padding: 20px 30px;
  -webkit-border-radius: 20px; 
  border-radius: 20px; 
}