
$main-color: #43AA8B;
$black-1: #202729;
$white: #fff;
$yellow: #ffbf00;
$red:#e83f6f;
$blue: #2274A5;
$green: #32936F;
$dark-green: #00A896;
$light-green: #ADEED2;
$white-1: #F3F5F7;

$light-blue: #00C6FF;
$light-blue-2: #2D90AB;
$dark-blue: #00637F;
$dark-blue-2: #003140;
$dark-blue-3: #001014;
$dark-blue-4: #002029;

$orange: #FF7E00;
$light-orange: #FF6F59;
$dark-orange: #B25800;

$pale-blue: #A5B6C6;


$brown: #231f20;

$error: #ebccd1;
/* =======================
tags and skill colors
========================= */

$ruby: #B02B2C;
$javascript: black;
$jquery: blue;
$php: orange;
$sql: green;
$html: grey;
$css: purple;



$twitter: #0084b4;
$fb: #3b5998;
$pinterest: #cb2027;
$linkedin: #007bb5;
$google: #dd4b39;
$reddit: #cee3f8;