/* PALETTE: https://coolors.co/app/ffbf00-e83f6f-2274a5-32936f-ffffff */

$main-color: #43AA8B;

$white: #fff;
$yellow: #ffbf00;
$red:#e83f6f;
$blue: #2274A5;
$green: #0EAD69;
$dark-green: #00A896;

$layer-green: #03623E;  