@mixin center-vertically {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%); 
	  -moz-transform: translateY(-50%); 
	  -ms-transform: translateY(-50%); 
	  -o-transform: translateY(-50%); 
	  transform: translateY(-50%);   
}


@mixin center-horizontally {
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center; 
}

@mixin transition($speed) {
	-webkit-transition: all $speed ease-in-out; 
	-moz-transition: all $speed ease-in-out; 
	-ms-transition: all $speed ease-in-out; 
	-o-transition: all $speed ease-in-out; 
	transition: all $speed ease-in-out; 
	    
	&:hover,
	&:focus {
	-webkit-transition: all $speed ease-in-out; 
	-moz-transition: all $speed ease-in-out; 
	-ms-transition: all $speed ease-in-out; 
	-o-transition: all $speed ease-in-out; 
	transition: all $speed ease-in-out; 
	}
}