@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?8z00nf');
    src:    url('fonts/icomoon.eot?8z00nf#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?8z00nf') format('truetype'),
        url('fonts/icomoon.woff?8z00nf') format('woff'),
        url('fonts/icomoon.svg?8z00nf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-exit:before {
    content: "\ea27";
}
.icon-sad-face-in-rounded-square:before {
    content: "\ea26";
}
.icon-elegant-font-1-7488:before {
    content: "\e900";
}
.icon-elegant-font-2-7489:before {
    content: "\e901";
}
.icon-elegant-font-3-7491:before {
    content: "\e902";
}
.icon-elegant-font-4-7493:before {
    content: "\e903";
}
.icon-elegant-font-5-7494:before {
    content: "\e904";
}
.icon-elegant-font-6-7498:before {
    content: "\e905";
}
.icon-elegant-font-7-7501:before {
    content: "\e906";
}
.icon-elegant-font-8-7502:before {
    content: "\e907";
}
.icon-elegant-font-9-7505:before {
    content: "\e908";
}
.icon-elegant-font-10-7507:before {
    content: "\e909";
}
.icon-elegant-font-11-7512:before {
    content: "\e90a";
}
.icon-elegant-font-12-7517:before {
    content: "\e90b";
}
.icon-elegant-font-13-7518:before {
    content: "\e90c";
}
.icon-elegant-font-14-7520:before {
    content: "\e90d";
}
.icon-elegant-font-15-7521:before {
    content: "\e90e";
}
.icon-elegant-font-16-7523:before {
    content: "\e90f";
}
.icon-elegant-font-17-7524:before {
    content: "\e910";
}
.icon-elegant-font-18-7528:before {
    content: "\e911";
}
.icon-elegant-font-19-7532:before {
    content: "\e912";
}
.icon-elegant-font-20-7536:before {
    content: "\e913";
}
.icon-elegant-font-21-7538:before {
    content: "\e914";
}
.icon-elegant-font-22-7541:before {
    content: "\e915";
}
.icon-elegant-font-23-7543:before {
    content: "\e916";
}
.icon-elegant-font-24-7544:before {
    content: "\e917";
}
.icon-elegant-font-25-7547:before {
    content: "\e918";
}
.icon-elegant-font-26-7550:before {
    content: "\e919";
}
.icon-elegant-font-27-7551:before {
    content: "\e91a";
}
.icon-elegant-font-28-7556:before {
    content: "\e91b";
}
.icon-elegant-font-29-7557:before {
    content: "\e91c";
}
.icon-elegant-font-30-7559:before {
    content: "\e91d";
}
.icon-elegant-font-31-7560:before {
    content: "\e91e";
}
.icon-elegant-font-32-7561:before {
    content: "\e91f";
}
.icon-elegant-font-33-7565:before {
    content: "\e920";
}
.icon-elegant-font-34-7571:before {
    content: "\e921";
}
.icon-elegant-font-35-7572:before {
    content: "\e922";
}
.icon-elegant-font-36-7577:before {
    content: "\e923";
}
.icon-elegant-font-37-7578:before {
    content: "\e924";
}
.icon-elegant-font-38-7584:before {
    content: "\e925";
}
.icon-elegant-font-39-7586:before {
    content: "\e926";
}
.icon-elegant-font-40-7588:before {
    content: "\e927";
}
.icon-elegant-font-41-7590:before {
    content: "\e928";
}
.icon-elegant-font-42-7595:before {
    content: "\e929";
}
.icon-elegant-font-43-7606:before {
    content: "\e92a";
}
.icon-elegant-font-44-7607:before {
    content: "\e92b";
}
.icon-elegant-font-45-7610:before {
    content: "\e92c";
}
.icon-elegant-font-46-7612:before {
    content: "\e92d";
}
.icon-elegant-font-47-7613:before {
    content: "\e92e";
}
.icon-elegant-font-48-7614:before {
    content: "\e92f";
}
.icon-elegant-font-49-7615:before {
    content: "\e930";
}
.icon-elegant-font-50-7617:before {
    content: "\e931";
}
.icon-elegant-font-51-7618:before {
    content: "\e932";
}
.icon-elegant-font-52-7619:before {
    content: "\e933";
}
.icon-elegant-font-53-7622:before {
    content: "\e934";
}
.icon-elegant-font-54-7624:before {
    content: "\e935";
}
.icon-elegant-font-55-7625:before {
    content: "\e936";
}
.icon-elegant-font-56-7626:before {
    content: "\e937";
}
.icon-elegant-font-57-7629:before {
    content: "\e938";
}
.icon-elegant-font-58-7631:before {
    content: "\e939";
}
.icon-elegant-font-59-7632:before {
    content: "\e93a";
}
.icon-elegant-font-60-7633:before {
    content: "\e93b";
}
.icon-elegant-font-61-7635:before {
    content: "\e93c";
}
.icon-elegant-font-62-7636:before {
    content: "\e93d";
}
.icon-elegant-font-63-7637:before {
    content: "\e93e";
}
.icon-elegant-font-64-7639:before {
    content: "\e93f";
}
.icon-elegant-font-65-7640:before {
    content: "\e940";
}
.icon-elegant-font-66-7642:before {
    content: "\e941";
}
.icon-elegant-font-67-7645:before {
    content: "\e942";
}
.icon-elegant-font-68-7646:before {
    content: "\e943";
}
.icon-elegant-font-69-7647:before {
    content: "\e944";
}
.icon-elegant-font-70-7649:before {
    content: "\e945";
}
.icon-elegant-font-71-7650:before {
    content: "\e946";
}
.icon-elegant-font-72-7654:before {
    content: "\e947";
}
.icon-elegant-font-73-7655:before {
    content: "\e948";
}
.icon-elegant-font-74-7659:before {
    content: "\e949";
}
.icon-elegant-font-75-7661:before {
    content: "\e94a";
}
.icon-elegant-font-76-7662:before {
    content: "\e94b";
}
.icon-elegant-font-77-7663:before {
    content: "\e94c";
}
.icon-elegant-font-78-7664:before {
    content: "\e94d";
}
.icon-elegant-font-79-7666:before {
    content: "\e94e";
}
.icon-elegant-font-80-7667:before {
    content: "\e94f";
}
.icon-elegant-font-81-7669:before {
    content: "\e950";
}
.icon-elegant-font-82-7675:before {
    content: "\e951";
}
.icon-elegant-font-83-7678:before {
    content: "\e952";
}
.icon-elegant-font-84-7679:before {
    content: "\e953";
}
.icon-elegant-font-85-7681:before {
    content: "\e954";
}
.icon-elegant-font-86-7688:before {
    content: "\e955";
}
.icon-elegant-font-87-7690:before {
    content: "\e956";
}
.icon-elegant-font-88-7698:before {
    content: "\e957";
}
.icon-elegant-font-89-7702:before {
    content: "\e958";
}
.icon-elegant-font-90-7709:before {
    content: "\e959";
}
.icon-elegant-font-91-7713:before {
    content: "\e95a";
}
.icon-elegant-font-92-7715:before {
    content: "\e95b";
}
.icon-elegant-font-93-7717:before {
    content: "\e95c";
}
.icon-elegant-font-94-8650:before {
    content: "\e95d";
}
.icon-elegant-font-95-8659:before {
    content: "\e95e";
}
.icon-elegant-font-96-8698:before {
    content: "\e95f";
}
.icon-elegant-font-97-8700:before {
    content: "\e960";
}
.icon-elegant-font-98-8704:before {
    content: "\e961";
}
.icon-elegant-font-99-8706:before {
    content: "\e962";
}
.icon-elegant-font-100-8707:before {
    content: "\e963";
}
.icon-elegant-font-101-8708:before {
    content: "\e964";
}
.icon-elegant-font-102-8709:before {
    content: "\e965";
}
.icon-elegant-font-103-8710:before {
    content: "\e966";
}
.icon-elegant-font-104-8712:before {
    content: "\e967";
}
.icon-elegant-font-105-8713:before {
    content: "\e968";
}
.icon-elegant-font-106-8714:before {
    content: "\e969";
}
.icon-elegant-font-107-8715:before {
    content: "\e96a";
}
.icon-elegant-font-108-8716:before {
    content: "\e96b";
}
.icon-elegant-font-109-8717:before {
    content: "\e96c";
}
.icon-elegant-font-110-8720:before {
    content: "\e96d";
}
.icon-elegant-font-111-8721:before {
    content: "\e96e";
}
.icon-elegant-font-112-8722:before {
    content: "\e96f";
}
.icon-elegant-font-113-8723:before {
    content: "\e970";
}
.icon-elegant-font-114-8725:before {
    content: "\e971";
}
.icon-elegant-font-115-8726:before {
    content: "\e972";
}
.icon-elegant-font-116-8727:before {
    content: "\e973";
}
.icon-elegant-font-117-8728:before {
    content: "\e974";
}
.icon-elegant-font-118-8729:before {
    content: "\e975";
}
.icon-elegant-font-119-8730:before {
    content: "\e976";
}
.icon-elegant-font-120-8731:before {
    content: "\e977";
}
.icon-elegant-font-121-8736:before {
    content: "\e978";
}
.icon-elegant-font-122-8738:before {
    content: "\e979";
}
.icon-elegant-font-123-8740:before {
    content: "\e97a";
}
.icon-elegant-font-124-8742:before {
    content: "\e97b";
}
.icon-elegant-font-125-8743:before {
    content: "\e97c";
}
.icon-elegant-font-126-8745:before {
    content: "\e97d";
}
.icon-elegant-font-127-8746:before {
    content: "\e97e";
}
.icon-elegant-font-128-8747:before {
    content: "\e97f";
}
.icon-elegant-font-129-8748:before {
    content: "\e980";
}
.icon-elegant-font-130-8750:before {
    content: "\e981";
}
.icon-elegant-font-131-8752:before {
    content: "\e982";
}
.icon-elegant-font-132-8753:before {
    content: "\e983";
}
.icon-elegant-font-133-8755:before {
    content: "\e984";
}
.icon-elegant-font-134-8756:before {
    content: "\e985";
}
.icon-elegant-font-135-8757:before {
    content: "\e986";
}
.icon-elegant-font-136-8758:before {
    content: "\e987";
}
.icon-elegant-font-137-8759:before {
    content: "\e988";
}
.icon-elegant-font-138-8761:before {
    content: "\e989";
}
.icon-elegant-font-139-8762:before {
    content: "\e98a";
}
.icon-elegant-font-140-8763:before {
    content: "\e98b";
}
.icon-elegant-font-141-8764:before {
    content: "\e98c";
}
.icon-elegant-font-142-8766:before {
    content: "\e98d";
}
.icon-elegant-font-143-8770:before {
    content: "\e98e";
}
.icon-elegant-font-144-8771:before {
    content: "\e98f";
}
.icon-elegant-font-145-8777:before {
    content: "\e990";
}
.icon-elegant-font-146-8778:before {
    content: "\e991";
}
.icon-elegant-font-147-8779:before {
    content: "\e992";
}
.icon-elegant-font-148-8781:before {
    content: "\e993";
}
.icon-elegant-font-149-8782:before {
    content: "\e994";
}
.icon-elegant-font-150-8783:before {
    content: "\e995";
}
.icon-elegant-font-151-8784:before {
    content: "\e996";
}
.icon-elegant-font-152-8785:before {
    content: "\e997";
}
.icon-elegant-font-153-8788:before {
    content: "\e998";
}
.icon-elegant-font-154-8790:before {
    content: "\e999";
}
.icon-elegant-font-155-8793:before {
    content: "\e99a";
}
.icon-elegant-font-156-8794:before {
    content: "\e99b";
}
.icon-elegant-font-157-8798:before {
    content: "\e99c";
}
.icon-elegant-font-158-8799:before {
    content: "\e99d";
}
.icon-elegant-font-159-8800:before {
    content: "\e99e";
}
.icon-elegant-font-160-8802:before {
    content: "\e99f";
}
.icon-elegant-font-161-8804:before {
    content: "\e9a0";
}
.icon-elegant-font-162-8805:before {
    content: "\e9a1";
}
.icon-elegant-font-163-8806:before {
    content: "\e9a2";
}
.icon-elegant-font-164-8808:before {
    content: "\e9a3";
}
.icon-elegant-font-165-8809:before {
    content: "\e9a4";
}
.icon-elegant-font-166-8810:before {
    content: "\e9a5";
}
.icon-elegant-font-167-8811:before {
    content: "\e9a6";
}
.icon-elegant-font-168-8813:before {
    content: "\e9a7";
}
.icon-elegant-font-169-8814:before {
    content: "\e9a8";
}
.icon-elegant-font-170-8816:before {
    content: "\e9a9";
}
.icon-elegant-font-171-8819:before {
    content: "\e9aa";
}
.icon-elegant-font-172-8820:before {
    content: "\e9ab";
}
.icon-elegant-font-173-8821:before {
    content: "\e9ac";
}
.icon-elegant-font-174-8823:before {
    content: "\e9ad";
}
.icon-elegant-font-175-8824:before {
    content: "\e9ae";
}
.icon-elegant-font-176-8825:before {
    content: "\e9af";
}
.icon-elegant-font-177-8826:before {
    content: "\e9b0";
}
.icon-elegant-font-178-8909:before {
    content: "\e9b1";
}
.icon-elegant-font-179-8912:before {
    content: "\e9b2";
}
.icon-elegant-font-180-8914:before {
    content: "\e9b3";
}
.icon-elegant-font-181-8915:before {
    content: "\e9b4";
}
.icon-elegant-font-182-8917:before {
    content: "\e9b5";
}
.icon-elegant-font-183-8918:before {
    content: "\e9b6";
}
.icon-elegant-font-184-8921:before {
    content: "\e9b7";
}
.icon-elegant-font-185-8930:before {
    content: "\e9b8";
}
.icon-elegant-font-186-8931:before {
    content: "\e9b9";
}
.icon-elegant-font-187-8933:before {
    content: "\e9ba";
}
.icon-elegant-font-188-8934:before {
    content: "\e9bb";
}
.icon-elegant-font-189-8935:before {
    content: "\e9bc";
}
.icon-elegant-font-190-9108:before {
    content: "\e9bd";
}
.icon-elegant-font-191-9148:before {
    content: "\e9be";
}
.icon-elegant-font-192-9149:before {
    content: "\e9bf";
}
.icon-elegant-font-193-9150:before {
    content: "\e9c0";
}
.icon-elegant-font-194-9151:before {
    content: "\e9c1";
}
.icon-elegant-font-195-9152:before {
    content: "\e9c2";
}
.icon-elegant-font-196-9153:before {
    content: "\e9c3";
}
.icon-elegant-font-197-9154:before {
    content: "\e9c4";
}
.icon-elegant-font-198-9156:before {
    content: "\e9c5";
}
.icon-elegant-font-199-9188:before {
    content: "\e9c6";
}
.icon-elegant-font-200-9893:before {
    content: "\e9c7";
}
.icon-elegant-font-201-9895:before {
    content: "\e9c8";
}
.icon-elegant-font-202-9896:before {
    content: "\e9c9";
}
.icon-elegant-font-203-9898:before {
    content: "\e9ca";
}
.icon-elegant-font-204-9901:before {
    content: "\e9cb";
}
.icon-elegant-font-205-9906:before {
    content: "\e9cc";
}
.icon-elegant-font-206-9911:before {
    content: "\e9cd";
}
.icon-elegant-font-207-9914:before {
    content: "\e9ce";
}
.icon-elegant-font-208-9915:before {
    content: "\e9cf";
}
.icon-elegant-font-209-9918:before {
    content: "\e9d0";
}
.icon-elegant-font-210-9920:before {
    content: "\e9d1";
}
.icon-elegant-font-211-9923:before {
    content: "\e9d2";
}
.icon-elegant-font-212-9924:before {
    content: "\e9d3";
}
.icon-elegant-font-213-9926:before {
    content: "\e9d4";
}
.icon-elegant-font-214-9928:before {
    content: "\e9d5";
}
.icon-elegant-font-215-9932:before {
    content: "\e9d6";
}
.icon-elegant-font-216-9934:before {
    content: "\e9d7";
}
.icon-elegant-font-217-9935:before {
    content: "\e9d8";
}
.icon-elegant-font-218-9936:before {
    content: "\e9d9";
}
.icon-elegant-font-219-9938:before {
    content: "\e9da";
}
.icon-elegant-font-220-9940:before {
    content: "\e9db";
}
.icon-elegant-font-221-9942:before {
    content: "\e9dc";
}
.icon-elegant-font-222-9943:before {
    content: "\e9dd";
}
.icon-elegant-font-223-9946:before {
    content: "\e9de";
}
.icon-elegant-font-224-9950:before {
    content: "\e9df";
}
.icon-elegant-font-225-9955:before {
    content: "\e9e0";
}
.icon-elegant-font-226-9959:before {
    content: "\e9e1";
}
.icon-elegant-font-227-9961:before {
    content: "\e9e2";
}
.icon-elegant-font-228-9962:before {
    content: "\e9e3";
}
.icon-elegant-font-229-9966:before {
    content: "\e9e4";
}
.icon-elegant-font-230-9968:before {
    content: "\e9e5";
}
.icon-elegant-font-231-9969:before {
    content: "\e9e6";
}
.icon-elegant-font-232-9970:before {
    content: "\e9e7";
}
.icon-elegant-font-233-9973:before {
    content: "\e9e8";
}
.icon-elegant-font-234-9981:before {
    content: "\e9e9";
}
.icon-elegant-font-235-9985:before {
    content: "\e9ea";
}
.icon-elegant-font-236-9986:before {
    content: "\e9eb";
}
.icon-elegant-font-237-9987:before {
    content: "\e9ec";
}
.icon-elegant-font-238-9992:before {
    content: "\e9ed";
}
.icon-elegant-font-239-9995:before {
    content: "\e9ee";
}
.icon-elegant-font-240-9996:before {
    content: "\e9ef";
}
.icon-elegant-font-241-9999:before {
    content: "\e9f0";
}
.icon-elegant-font-242-10003:before {
    content: "\e9f1";
}
.icon-elegant-font-243-10004:before {
    content: "\e9f2";
}
.icon-elegant-font-244-10005:before {
    content: "\e9f3";
}
.icon-elegant-font-245-10006:before {
    content: "\e9f4";
}
.icon-elegant-font-246-10010:before {
    content: "\e9f5";
}
.icon-elegant-font-247-10016:before {
    content: "\e9f6";
}
.icon-elegant-font-248-10018:before {
    content: "\e9f7";
}
.icon-elegant-font-249-10019:before {
    content: "\e9f8";
}
.icon-elegant-font-250-10020:before {
    content: "\e9f9";
}
.icon-elegant-font-251-10022:before {
    content: "\e9fa";
}
.icon-elegant-font-252-10024:before {
    content: "\e9fb";
}
.icon-elegant-font-253-10025:before {
    content: "\e9fc";
}
.icon-elegant-font-254-10032:before {
    content: "\e9fd";
}
.icon-elegant-font-255-10033:before {
    content: "\e9fe";
}
.icon-elegant-font-256-10036:before {
    content: "\e9ff";
}
.icon-elegant-font-257-10124:before {
    content: "\ea00";
}
.icon-elegant-font-258-10129:before {
    content: "\ea01";
}
.icon-elegant-font-259-10132:before {
    content: "\ea02";
}
.icon-elegant-font-260-10134:before {
    content: "\ea03";
}
.icon-elegant-font-261-10137:before {
    content: "\ea04";
}
.icon-elegant-font-262-10140:before {
    content: "\ea05";
}
.icon-elegant-font-263-10148:before {
    content: "\ea06";
}
.icon-elegant-font-264-10152:before {
    content: "\ea07";
}
.icon-elegant-font-265-10157:before {
    content: "\ea08";
}
.icon-elegant-font-266-10162:before {
    content: "\ea09";
}
.icon-elegant-font-267-10163:before {
    content: "\ea0a";
}
.icon-elegant-font-268-10166:before {
    content: "\ea0b";
}
.icon-elegant-font-269-10171:before {
    content: "\ea0c";
}
.icon-elegant-font-270-10173:before {
    content: "\ea0d";
}
.icon-elegant-font-271-10183:before {
    content: "\ea0e";
}
.icon-elegant-font-272-10184:before {
    content: "\ea0f";
}
.icon-elegant-font-273-10188:before {
    content: "\ea10";
}
.icon-elegant-font-274-10191:before {
    content: "\ea11";
}
.icon-elegant-font-275-10193:before {
    content: "\ea12";
}
.icon-elegant-font-276-10194:before {
    content: "\ea13";
}
.icon-elegant-font-277-10196:before {
    content: "\ea14";
}
.icon-elegant-font-278-10200:before {
    content: "\ea15";
}
.icon-elegant-font-279-10424:before {
    content: "\ea16";
}
.icon-elegant-font-280-10428:before {
    content: "\ea17";
}
.icon-elegant-font-281-10429:before {
    content: "\ea18";
}
.icon-elegant-font-282-10430:before {
    content: "\ea19";
}
.icon-elegant-font-283-10432:before {
    content: "\ea1a";
}
.icon-elegant-font-284-10442:before {
    content: "\ea1b";
}
.icon-elegant-font-285-10443:before {
    content: "\ea1c";
}
.icon-elegant-font-286-10758:before {
    content: "\ea1d";
}
.icon-elegant-font-287-10769:before {
    content: "\ea1e";
}
.icon-elegant-font-288-10772:before {
    content: "\ea1f";
}
.icon-elegant-font-289-10774:before {
    content: "\ea20";
}
.icon-elegant-font-290-10775:before {
    content: "\ea21";
}
.icon-elegant-font-291-10776:before {
    content: "\ea22";
}
.icon-elegant-font-292-10777:before {
    content: "\ea23";
}
.icon-elegant-font-293-10778:before {
    content: "\ea24";
}
.icon-elegant-font-7487:before {
    content: "\ea25";
}

