@import "components/colors";
@import "text-hover-effects/sass/effects";

nav {
  height: 60px;
  background-color: $white;
  width: 100%;
  border-bottom: 1px solid $green;
  position: relative;
  top: 0;   
}

.nav-list {
  margin: 0;
  padding: 0;
  right: 20px;
  top: 0px;    
  li {
    display: inline-block;
    margin-left: 20px;
   a {
      color: $green;
      font-size: 14px; 
      
      &.home-link {
        @include transition-opt(
          $hover-color: $green,
          $transition-color: $green
          );
        @include underline-opening();      
      }
    }
  }
}

.fa-plus {
  border: 2px solid $green;
  -webkit-border-radius: 50%; 
   border-radius: 50%;  
  padding: 10px 12px;
  text-align:center; 
  color: $green; 
  
  &:hover {
    background-color: $green;
    color: $white;
    border: 2px solid $green; 
    -webkit-transition: all .5s ease-in-out; 
     -moz-transition: all .5s ease-in-out; 
     -ms-transition: all .5s ease-in-out; 
     -o-transition: all .5s ease-in-out; 
     transition: all .5s ease-in-out;  
  }
}

.logo-con {
  position: absolute;
  left: 20px;
  top: 20px;
  text-align: center;
  border-right: 1px solid $white;
  width: 18%; 
}