@import "components/colors";
@import "components/mixins";
@import "text-hover-effects/sass/effects";

.main-nav {
  height: 60px;
  background-color: #000;
  position: fixed;
  top: 0;  
  z-index: 999;
  right: 0; 
  width: 100%;   
}


.right-inner-addon {
    position: relative;
    text-align: center;
    
}
.right-inner-addon input {
    padding-right: 50px;    
}
.right-inner-addon i {
    position: absolute;
    left: 20px;
    pointer-events: none;
}

.right-nav {
  position: absolute;
  right: 0px;
  top: 0;  
  bottom: 0;
  background-color: orange; 
}

.ask {
  background-color: $light-orange;
  display: block; 
  color: #fff;
  height: 100%;
  width: 100px;  
  line-height: 60px; 
  text-align: center; 
  text-transform: uppercase;  
  font-size: 1em; 
  
  &:hover,
  &:focus {
    text-decoration: none; 
    color: #fff;
  }
}

.icon-plus {
  font-size: 1.7em;
  color: $white;
  padding: 20px 20px; 
  background-color: $light-orange;
  position: absolute;
  right: 0;
  top: 0;   
  
  &:hover {
    text-decoration: none; 
  }  
}

.icon-nav {
  font-size: 2.2em; 
  position: relative;
  display: inline-block; 
  color: $dark-blue;  
  margin-right: 20px; 
}

.nav-anchor {
  &:hover {
    text-decoration: none;
    -webkit-box-shadow: none; 
     box-shadow: none;  
  }
}

.nav-right-list {
  display: inline-block;
  margin-right: 60px; 
  margin-top: 20px; 
}

