@import "components/colors";
@import "text-hover-effects/sass/effects";

nav {
  height: 60px;
  background-color: $white;
  width: 100%;
  border-bottom: 1px solid $green;
  position: relative;
  top: 0;   
}

.nav-list {
  margin: 0;
  padding: 0;
  right: 20px;
  top: 10px;
  position: absolute;
  right: 20px;  
  li {
    display: inline-block;
    margin-left: 5px;
   a {
      color: $green;
      font-size: 14px; 
      
      &.home-link {
        @include transition-opt(
          $hover-color: $green,
          $transition-color: $green
          );
        @include underline-opening();      
      }
    }
  }
}

.fa.fa-home {
  font-size: 2.5em; 
}

.fa.fa-plus {
  font-size: 2.5em; 
  text-align:center; 
  color: $green; 
}

.logo-con {
  position: absolute;
  left: 20px;
  top: 20px;
  text-align: center;
  border-right: 1px solid $white;
  width: 18%; 
}