// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "components/colors";
.new-q-wrapper {
	margin-top: 100px; 
}

.fa.fa-edit {
	color: $green;
	font-size: 14px;
	margin-left: 10px;
	position: absolute;
	right: 50px;
	bottom: 0px;    
}

.green-input {
	color: $green;
	&:focus {
		border: 1px solid $green; 
		outline: none; 
	}  
}

.green-textarea {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	color: $green;
	padding: 20px; 

	&:focus {
		border: 1px solid $green; 
		outline: none; 
	}  
}

.new-q-heading {
	margin-bottom: 30px;
}