@import "components/colors";
@import "components/mixins";
@import "components/typography";
@import "components/layout";
body {
	background-color: $white-1; 
}
textarea {
	resize: none; 
}

.btn-full {
	width: 100%; 
}

.row {
	margin: 0; 
}

.p-l-0 {
	padding-left: 0 !important; 
}

.p-r-0 {
	padding-right: 0 !important; 
}

/*===============
HOME PAGE
================*/
.home-row {
	padding-top: 150px; 
	h1 {
		color: #000;
	}
}
.home-col {
	background-color: $white; 
	border-bottom: 1px solid $white-1;
}

.main-icon-con {
	padding: 30px 15px; 
}

.main-home-p {
	margin: 0;
	text-align: center;  
	a {
		color: #000;
		display: inline-block;
		padding: 30px 0;
		font-size: 22px;
		font-weight: 300;
		 
		
		&:hover {
			background: $green;
			color: $white;
			text-decoration: none; 
		} 
	}
	
}

.main-home-heading {
	text-align: center;
	margin-bottom: 20px; 
}

.main-posts-row {
	padding-bottom: 150px; 
}

.main-user-icon {
	display: inline-block;
	width: 50px; 
	margin-right: 20px; 
	margin-left: 20px; 
}

.group-icon {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 10px;
	bottom: 10px;     
}

.main-search {
	padding: 30px 20px;
	width: 80%;
	position: absolute;
	bottom: 0px;
	left: 20%;  
 	&:focus {
 		border: 1px solid $green; 
 	}
}