@import "components/colors";
@import "components/mixins";
@import "components/typography";
@import "components/layout";
body {
	background-color: $white-1; 
}
textarea {
	resize: none; 
}

.btn-full {
	width: 100%; 
}

.row {
	margin: 0; 
}

.p-l-0 {
	padding-left: 0 !important; 
}

.p-r-0 {
	padding-right: 0 !important; 
}

/*===============
HOME PAGE
================*/
.home-row {
	margin-top: 50px; 
	h1 {
		color: #000;
	}
}
.home-col {
	background-color: $white; 
	border-bottom: 1px solid $white-1;
}

.main-home-p {
	margin: 0;
	text-align: center; 
	
	&:hover {
		.question-user-photo {
			border: 1px solid $white; 
		}
	} 
	a {
		color: #000;
		display: inline-block;
		font-size: 22px;
		font-weight: 300;
		width: 100%; 
		 
		&:hover {
			background: $green;
			color: $white;
			text-decoration: none; 
		} 
	}
	
}

.main-home-heading {
	text-align: center;
	margin-bottom: 20px; 
}

.main-posts-row {
	padding-bottom: 150px; 
}

.main-user-icon {
	display: inline-block;
	width: 50px; 
	margin-right: 20px; 
	margin-left: 20px; 
}

.group-icon {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 10px;
	bottom: 10px;     
}

.main-search {
	padding: 30px 20px;
	width: 80%;
	position: absolute;
	bottom: 0px;
	left: 20%;  
 	&:focus {
 		border: 1px solid $green; 
 	}
}

.btn-load-more {
	background-color: $green;
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	padding: 15px 0;
	color: $white;
	font-size: 18px;
	margin-top: 40px; 
	-webkit-transition: all .5s ease-in-out; 
	-moz-transition: all .5s ease-in-out; 
	-ms-transition: all .5s ease-in-out; 
	-o-transition: all .5s ease-in-out; 
	transition: all .5s ease-in-out;   

	&:hover {
		background-color: darken($green, 5%);
		color: $white;
		-webkit-transition: all .5s ease-in-out; 
		-moz-transition: all .5s ease-in-out; 
		-ms-transition: all .5s ease-in-out; 
		-o-transition: all .5s ease-in-out; 
		transition: all .5s ease-in-out;  	
	}  
}

.question-user-photo {
	border: 1px solid $green;
	-webkit-border-radius: 50%; 
	 border-radius: 50%;  
	width: 50px !important;
	height: 50px;
	display: inline-block;
	text-align: left;
	position: absolute;
	left: 60px;
	top: 20px;
	
	img {
		width: 100%; 
	}
}