// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "components/mixins";
@import "components/colors";

.post-content {
	position: relative;
}


.main-posts-row {
	font-family: "Open Sans"; 
}

.question-wrapper {
	@include center-vertically;
}

.new-question-form {
	margin-bottom: 20px; 
}

.post-description {
	margin-top: 20px; 
	padding-bottom: 30px; 
	line-height: 1.6em;
	font-size: 18px;  
	font-weight: 300; 
	
	img {
		margin: 30px 0; 
		width: 100%; 
	}

	a {
		color: $orange;
		@include transition(.5s);
		&:hover {
			text-decoration: none;
			color: $light-blue;  
		}
	}
}

.post-title {
	border-bottom: 1px solid lighten(#000, 70%);
	padding-top: 50px; 
	padding-bottom: 20px; 
	-ms-word-wrap: break-word; 
	word-wrap: break-word;
	-ms-word-break: break-all; 
	word-break: break-all;   
}

.post-btn {
	margin-bottom: 20px;
	margin-top: 20px;  
}


.main-post-col {
	margin-top: 20px;
	float: left;
	width: 100%;   
	padding-bottom: 50px; 
}

.like-icons {
	position: absolute;
	right: 70px;
	text-align: center; 
	bottom: 130px; 
	
	@media (min-width: 768px) {
		right: 100px;
		top: 125px; 
	}

}

span.main-question-icon {
	font-size: 40px;
	color: $light-orange;
	cursor: pointer;
	display: inline-block; 
	@include transition(.5s);
	&:hover {
		@include transition(.5s);
		color: $light-blue; 
		text-decoration: none; 		
	}
}

.number-of-votes {
	font-size: 25px; 
	display: block;
	margin-top: 15px; 
	color: #FF6F59;
}

.post-subinfo {
	font-size: 12px;
}

.post-subinfo {
	margin-top: 40px; 
	
	.social-share-button {
		margin-top: 10px; 
	}
}

.post-date {
	font-size: 10px; 
	margin-top: 3px; 
	display: block;
}

.post-modal-image {
	width: 100%;
	height: auto;  
}

.share {
	iframe {
		display: inline-block;
	}
}

.post-question-link {
	color: $black-1;
	font-weight: 700;
	font-size: 28px;
	line-height: 1em;  
	&:hover {
		text-decoration: none; 
		color: $light-orange;
	} 
}

.posts-editable-links {
	margin-top: 15px;
}

.posts-orders {
	margin-top: 30px; 
	a {
		color: $light-orange;
		font-size: 18px;
		margin-right: 10px;
		vertical-align: super; 
		@include transition(.5s); 
		&:hover {
			@include transition(.5s); 

			text-decoration: none;
			color: $light-blue;
		}
	}
}

.order-icon {
	display: none;
	
	&.active-order {
		display: inline !important; 
	} 
}

.sort-icon {
	font-size: 2em;
	color: $light-orange;  
}

.like {
	&:hover {
		text-decoration: none;
		-webkit-box-shadow: none; 
		box-shadow: none;  
	}
}

.hidden {
	display: none; 
}

.visible {
	display: block; 
}

.post-icon {
	margin-right: 5px; 
	vertical-align: middle; 
}

.post-info {
	margin-top: 5px;
	
	&.first {
		margin-top: 15px;
	} 
}

.post-tag {
	margin-top: 10px; 
}

.post-form {
	iframe {
		height: 400px !important; 
	}
	.wysihtml5-toolbar {
		margin-top: 20px; 
	}

	.wysihtml5-sandbox {
		border: none !important; 
		border-bottom: 1px solid $orange !important; 
	}

	.input-group,
	.post-tags {
		margin-top: 25px; 
	}

	.post-tags {
		width: 100%; 
		padding: 20px;
		display: block; 
		border: none;
		border-bottom: 1px solid $orange; 
		margin-bottom: 15px; 
	}

	.form-control[readonly] {
		background-color: #fff;
		color: $orange;
	}
}

.post-images-col {
	margin-top: 30px;
	margin-bottom: 30px;  
}

.post-img {
	position: relative; 
	display: inline-block;
	margin-right: 5px; 
	margin-bottom: 10px;
	cursor: pointer;

	&:hover {

		.post-img-layer {
			opacity: .8;
			@include transition(.5s);

		}
	} 
}

.post-img-layer {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	padding: 20px; 
	background-color: lighten(#000, 10%); 
	text-align: center; 
	@include transition(.5s);

	
	span {

		font-weight: 500;
		font-size: 13px;  
		margin-top: 45%;
		position: relative;
		color: #fff;
		display: inline-block;   
	}    
}

.post-images-heading {
	margin-bottom: 20px; 
}

.post-full-img {
	img {
		width: 100%; 
	}
}

.edit-post-modal {
	.moda-dialog {
		width: 70%; 
	}

	@media (min-width: 1400px) {
		.modal-dialog {
			width: 60%; 
		}	
	}
	
}

.post-simple-format {
	img {
		width: 100%; 
	}
}

.tag-list {
	margin-bottom: 20px; 
	span {
		&:hover {
			background-color: $light-orange; 
		}
	}
}