@import "components/colors";

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  width: 100%;
  border-left: 2px solid $error !important;
  border-right: 2px solid $error !important;
  border-top: 2px solid $error !important;
}

.error_messages_list {
  list-style: none; 
}

#error_explanation {
  width: 100%;
  border: 2px solid $error;
  padding: 7px;
  padding-bottom: 0;
  background-color: #f0f0f0;
  margin: 20px auto;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
  }
}
