@import "components/colors";
@import "text-hover-effects/sass/effects";

.sidebar-wrapper {
	background-color: #202729;
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 9;
	top: 0; 
}


.sidebar-user-con {
	text-align: center; 
	border-bottom: 1px solid $white;
	padding-bottom: 20px;
	padding-top: 20px; 
}

.sidebar-photo {
	margin: 50px auto; 
	display: block;
	text-align: center;
	img {
		-webkit-border-radius: 50%; 
		border-radius: 50%;
		border: 2px solid $white; 
		width: auto; 
		margin: 0 auto; 
	}  
}

.sidebar-list,
.sidebar-static-list {
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 40px;
	border-top: 1px solid $light-blue; 
	padding-top: 20px; 
	padding-left: 10px; 
	
	li {
		margin-bottom: 20px; 
		a {
			font-family: "Lato"; 	
			color: $white;
			text-decoration: none;
			font-size: 20px;
			font-weight: 300; 
			text-transform: uppercase;
			@include transition-opt(
				$hover-color: $yellow,
				$transition-color: $yellow
			);
			
			@include underline-opening();
		} 
	}    
}

.sidebar-user-link {
	text-align: center;
	margin-top: 20px; 

	a {
		color: $white;
		font-size: 16px; 
		@include transition-opt(
			$hover-color: $yellow,
			$transition-color: $yellow
			);
		@include underline-opening();
	}
}

.sidebar-bottom {
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 20px;   
}

.sidebar-b-inner {
	text-align: center;
	padding-bottom: 20px;  
}

.sidebar-bottom-links {
	display: block;
	text-align: center;
	color: $white; 
	font-size: 14px;
	margin: 0 auto;
	text-decoration: none;
	&:not(:first-child) {
		margin-left: 15px; 
	} 
	@include transition-opt(
		$hover-color: $yellow,
		$transition-color: $yellow,
		$display: inline-block,
		$padding: 5px 0
		);
	@include underline-opening();
	
	&:hover {
		text-decoration: none; 
	} 

	&.sign-out {
		margin-left: 0;
	} 
}

.sidebar-user-name {
	color: $white;
	font-size: 12px; 
}