// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "components/colors";
@import "components/mixins";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800);
/*======================
LANDING
=======================*/
%reset {
	padding: 0;
	margin: 0;  
}

.light-blue-background {
	background-color: $light-blue-2; 
}

.light-orange-background {
	background-color: $light-orange; 
}

.black-background {
	background-color: $black-1; 
}

.orange-background {
	background-color: $orange; 
}

%stretch {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;    
}

%vertical {
	top: 50%;
	-webkit-transform: translateY(-50%); 
	-moz-transform: translateY(-50%); 
	-ms-transform: translateY(-50%); 
	-o-transform: translateY(-50%); 
	transform: translateY(-50%); 
	position: relative;
	margin: 0 auto;
	text-align: center; 
}


.landing-header {
	height: 100vh; 
	position: relative; 
	overflow: hidden; 
	background-color: #FFF; 
	z-index: 1; 
}


.landing-heading {
	color: white;
	font-size: 35px;
	font-weight: 700;
	line-height: 1.22;
	text-transform: uppercase;
	
	@media (min-width: 768px) {
		font-size: 45px; 
	}
}

.landing-subtext {
	font-size: 18px;
	margin-top: 20px; 
}



%reset_hover {
	text-decoration: none;
	outline: none;
	-webkit-box-shadow: none; 
	box-shadow: none;   
}

section {
	position: relative;
}

.section-row {
	@extend %vertical;
}

.landing-text {
	font-size: 55px; 
}

.landing-top-row {
	width: 100%; 
	@extend %vertical;
	top: 55%; 
	z-index: 1; 
}

.header-bg-img {
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	width: 100%;
	opacity: 0;
}

.text-uppercase {
	text-transform: uppercase; 
}

.header-logo {
	width: 100px;
	height: 70px;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	-webkit-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;  
	background-position: center center;
	display: block;  
	position: absolute;
	z-index: 2;
	left: 10px;
	top: 10px;     
	
	@media (min-width: 768px) {
		display: inline-block;
	}
}

.btn-landing-top {
	margin-right: 30px;
	border: 1px solid $orange;
	color: #FFF;
	@include transition(.4s);
	padding: 10px 40px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
	margin-top: 15px; 
	margin-left: 30px;
	display: inline-block; 
	
	&:hover,
	&:focus {
		background-color: $orange;
		color: #FFF; 
		@extend %reset_hover; 
	}  
	
	@media (min-width: 768px) {
		margin-top: 8px; 
		float: right;   
	}
}

.cta-col {
	height: 100%; 
	padding: 0 !important; 
	text-align: center;
	
	&.light-orange-background {
		a {
			&:hover,
			&:focus {
				background-color: darken($light-orange, 5%); 
			}
		}
	} 

	&.light-blue-background {
		a {
			&:hover,
			&:focus {
				background-color: darken($light-blue, 10%); 
			}
		}
	} 
	
	a {
		height: 100%;
		display: block;
		color: #FFF;
		font-family: "Lato", sans-serif;   
		line-height: 350px; 
		font-weight: 700;
		font-size: 1.7em; 
		text-transform: uppercase; 
		cursor: pointer;
		@include transition(.5s);
		
		&:hover,
		&:focus {
			@extend %reset_hover; 
			color: #FFF; 
		}   
	}
}



.landing-footer {
	position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
}


@media (min-width: 768px) {
	.landing-footer {
		position: fixed;
	}

	.landing-header {
		margin-bottom: 350px; 
	}
}

@media (min-width: 1200px) {
	.landing-footer {
		margin-right: 15px;  
	}
}