// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "components/colors";
@import "components/mixins";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800);
/*======================
LANDING
=======================*/
%reset {
	padding: 0;
	margin: 0;  
}


.light-blue-background {
	background-color: $light-blue-2; 
}

.black-background {
	background-color: $black-1; 
}

.orange-background {
	background-color: $light-orange; 
}

%stretch {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;    
}

%vertical {
	top: 50%;
	-webkit-transform: translateY(-50%); 
	-moz-transform: translateY(-50%); 
	-ms-transform: translateY(-50%); 
	-o-transform: translateY(-50%); 
	transform: translateY(-50%); 
	position: relative;
	margin: 0 auto;
	text-align: center; 
}

.ladning-bg-wrap {
	position: fixed;
	width: 100%;
	clear: both;
	height: 100%;
	z-index: -1;
	overflow: hidden; 
	
	.bg-img {
		background-attachment: fixed;
	}
}

.landing-inner {
	@extend %stretch;
}

.landing-wrapper {
	position: relative; 
	height: 100%; 
	font-family: "OpenSans", sans-serif;
}

.landing-wrapper > * {
	font-family: "OpenSans", sans-serif;	
}

.landing-header {
	height: 100vh; 
	overflow: hidden; 
	position: relative; 
}

.landing-heading {
	color: white;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.22;
	text-transform: uppercase;
	
	@media (min-width: 768px) {
		font-size: 45px; 
	}
}

.landing-subtext {
	font-size: 25px;
	margin-top: 20px; 
}

.landing-layer {
	position: absolute; 
	background-color: #000;
	opacity: .5;  
	@extend %stretch; 
}

.landing-sign-up {
	color: $light-blue;
}

%reset_hover {
	text-decoration: none;
	outline: none;
	-webkit-box-shadow: none; 
	box-shadow: none;   
}

.btn-landing {
	padding: 15px 75px;
	color: #FFF;
	display: inline-block; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	font-family: "OpenSans", sans-serif;
	font-size: 18px;
	text-transform: uppercase; 
	font-weight: 300;
	margin-top: 45px;
	font-size: 14px;  
	@include transition(.5s);

	&:hover {
		@extend %reset_hover;
	}
	
	&.orange {
		background-color: $light-orange; 
		@media (min-width: 768px) {
			margin-right: 25px; 
		}
		&:hover {
			color: #FFF; 
		}
	} 	
	
	&.white {
		background-color: #fff; 
		color: #3F4547; 
		margin-top: 15px; 
	}
}

section {
	position: relative;
	z-index: 1; 
	overflow: hidden;  
}

.section-row {
	@extend %vertical;
}

.image-section {
	padding:100px 0;
	border-bottom: 1px solid #f5f5f5;  
}

.section-bg-img {
	width: 100%;
	height: 500px;  
	background-position: left center;
	background-repeat: no-repeat; 
	-webkit-background-size: cover; 
	 -o-background-size: cover; 
	 background-size: cover;  
	margin: 0 auto; 
	
	&.first {
		background-image: url(../images/10.png);
	}

	&.second {
		background-image: url(../images/9.png);
		background-position: center center; 
	}

	&.third {
		background-image: url(../images/11.png);
		background-position: center center; 
	}
}

.img-desc {
	list-style: none;
	margin-top: 10px;
	padding: 0; 
}

.landing-text {
	font-size: 55px; 
}

.landing-header-row {
	width: 100%; 
	@extend %vertical;
	top: 55%; 
	position: fixed;
	width: 100%;
	z-index: -1;
}

.header-buttons-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: 65%;
	margin: 0 auto;
	text-align: center;     
}

.header-bg-img {
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	width: 100%;
	opacity: 0;
}

.fa.fa-landing {
	font-size: 80px;
}

.features {
	height: auto; 
	padding: 200px 0; 

	p {
		color: #FFF; 
		font-size: 20px; 
		line-height: 1.6;
	}
}

.feature-title {
	font-size: 30px;
	line-height: 1.2;  
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	margin-top: 50px;
	margin-bottom: 20px;  
	
	&.middle {
		margin-bottom: 100px;
		margin-top: 100px;  
	} 
}



.landing-bg-img {
	height: 700px;
	background-image: url(../images/7.jpg);
	background-position: right bottom;
	background-repeat: no-repeat; 
	-webkit-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	
	&.other {
		background-image: url(../images/8.jpg);
		height: 500px; 
		
		@media (min-width: 1200px) {
			height: 400px; 
		}
	}  
}

.testemonial-heading {
	text-transform: uppercase;
	margin-top: 100px;  
	font-weight: 700;
	font-size: 20px; 
	margin-bottom: 50px;
	
	@media (min-width: 768px) {
		margin-bottom: 0; 
		font-size: 26px; 
	}
}

.swiper-wrapper {
	height: auto !important; 
}

.swiper-slide {

	height: auto !important;
	-webkit-border-radius: 10px; 
	border-radius: 10px; 
	margin-bottom: 40px; 
	
	&:after {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: 38px;
		top: 100px;
		border: 15px solid;
		border-color: #fff transparent transparent #fff;
	}

	@media (min-width: 1200px) {
		margin-top: 80px;
		margin-bottom: 0; 
	}

	@media (min-width: 480px) {
		padding: 35px 45px; 
	}
}

.swiper-content {
	color: #FFF; 
	padding-top: 80px;
	padding-bottom: 80px; 
	-webkit-border-radius: 10px; 
	border-radius: 10px;    
}

.swiper-heading {
	color: #FFF;
	font-size: 16px;  
}

.signup-section {
	padding-bottom: 100px; 
}

.landing-form {
	height: 300px; 
}

.text-uppercase {
	text-transform: uppercase; 
}

.landing-navigation {
	z-index: 9999; 
	position: fixed;
	width: 100%;
	padding: 20px 0;  
	height: 90px; 
	
	@include transition(.5s);
}

.header-logo {
	width: 300px;
	height: 50px;
	margin-left: 30px; 
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;  
	background-position: center center;
	display: block;  
	
	@media (min-width: 768px) {
		display: inline-block;
	}
}

.btn-landing-top {
	margin-right: 30px;
	border: 1px solid $orange;
	color: #FFF;
	@include transition(.4s);
	padding: 10px 40px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
	margin-top: 15px; 
	margin-left: 10px;
	display: inline-block; 
	
	&:hover,
	&:focus {
		color: #FFF; 
		@extend %reset_hover; 
	}  
	
	@media (min-width: 768px) {
		margin-top: 8px; 
		float: right;   
	}

	&.orange {
		background-color: $light-orange;
		margin-right: 10px;  
		text-transform: uppercase; 
	}
}

.btn-landing-cta {
	background-color: $light-blue-2;
	width: 80%;
	margin-top: 20px;  
	
	&:hover,
	&:focus {
		color: #FFF; 
	}
}

.landing-footer {
	height: auto; 
	padding: 25px 0; 
	position: relative;
	bottom: 0;
	width: 100%;  
}

.footer-links {
	list-style: none;
	@extend %reset;
	text-align: center; 
	
	@media (min-width: 768px) {
		text-align: left; 
	}
	li {
		display: inline-block; 
		margin: 0px 3%; 
		
		a {
			font-size: 14px; 
			color: #000;
			text-transform: uppercase;
			@include transition(.5s);
			&:hover,
			&:focus {
				@extend %reset_hover;
				color: $orange; 
			}
		}
	}
}

.footer-copyright {
	text-align: center;
	
	p {
		color: #000; 
		font-size: 12px; 
		margin-top: 10px; 
		
		@media (min-width: 768px) {
			margin-top: 0; 
		}
	} 
}

.join-us-heading {
	text-transform: uppercase; 
	font-weight: 300;
	margin-top: 80px;  
	color: #FFF;
	font-size: 22px;
	margin-bottom: 30px;
	line-height: 1.2; 
	
	@media (min-width: 768px) {
		font-size: 32px; 
	}
}

.testemonial-section {
	height: 100vh; 
	position: relative;
	  
}

.testemonial-row {
	position: absolute; 
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;   
}

.testemonial-paragraph {
	color: #000;
	font-size: 30px;  
	font-style: italic; 
}

.testemonial-line {
	width: 100px;
	border: 1px solid #000;
	margin: 0 auto; 
	margin-top: 30px;  
	margin-bottom: 20px;  
}

.testemonial-user {
	color: #000;
	font-size: 20px;
}

.form-section {
	padding: 200px 0;
	border-top: 1px solid #f5f5f5;  
}

.white-nav {
	background-color: #FFF;
	-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,.1);
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.1);
	    
	.btn-bordered {
		background-color: $light-blue-2;
		color: #FFF;  
		border: none; 
	}
}

.section-paragraph {
	color: #000;
	font-size: 30px;  
	line-height: 1.2;
	margin-bottom: 60px;
	text-align: center;  
}

/*.img-col-right {
	-webkit-transform: translateX(100%); 
	-moz-transform: translateX(100%); 
	-ms-transform: translateX(100%); 
	-o-transform: translateX(100%); 
	transform: translateX(100%); 

	@include transition(.5s);
}

.img-col-left {
		-webkit-transform: translateX(-100%); 
	-moz-transform: translateX(-100%); 
	-ms-transform: translateX(-100%); 
	-o-transform: translateX(-100%); 
	transform: translateX(-100%); 
	@include transition(.5s);
} */

.move {
	@include transition(.5s);
	position: relative;
	-webkit-transform: translateX(0%); 
	 -moz-transform: translateX(0%); 
	 -ms-transform: translateX(0%); 
	 -o-transform: translateX(0%); 
	 transform: translateX(0%);  
}


.landing-form-wrapper {
	input {
		width: 100%;
		background-color: #FFF;
		padding: 25px 20px;
		font-size: 30px;    
	}

	h2 {
		color: #FFF;
		font-size: 50px;
		font-weight: 700;
		margin-bottom: 40px;    
	}

	.btn {
		font-size: 20px;
		padding: 15px 0px; 
		background-color: $light-orange;
		-webkit-border-radius: 5px; 
		 border-radius: 5px;  
		color: #FFF;
		margin-top: 30px;
		text-transform: uppercase;
		@include transition(.5s);
		
		&:hover,
		&:focus {
			color: #FFF;
			background-color: darken($light-orange, 5%);  
		}   
	}
}

.image-text-col {
	margin-top: 0px; 
}

.homepage-error-message {
	color: #fff;
	padding: 20px 0; 
	font-size: 30px;
	font-weight: 700; 
	background-color: $red;  
}

@media (min-width: 480px){
	.feature-title {
		font-size: 40px; 
	}

	.features p {
		font-size: 26px; 
	}

	.section-paragraph {
		font-size: 40px; 
	}
}

@media (min-width: 768px) {
	.section-paragraph {
		font-size: 40px; 
	}

	.features p {
		font-size: 25px; 
	}
}

@media (min-width: 992px) {
	.image-text-col {
		margin-top: 200px; 
	}
}

@media (min-width: 1200px) {
	.feature-title {
		&.middle {
			margin-top: 128px;
			margin-bottom: 0; 
		}
	}
}