// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "components/colors";
@import "components/links";
@import "components/mixins";

.profile-wrapper {
	margin-top: 40px; 
	padding-bottom: 100px; 
}

.user-name {
	margin: 0; 
}

.user-username {
	margin: 0;
}

.user-model-col {
	background-color: #FFF;
	padding: 20px 10px;
	margin-bottom: 10px;   
}

.user-profile-timestamp {
	margin-top: 10px;  
}

.user-profile-post {
	color: #000;
}

.user-model-heading {
	margin-bottom: 20px; 
}

.profile-introduction {
	margin-top: 20px;
	background-color: #fff;
	width: 100%;
	padding-right: 30px; 
	margin-bottom: 10px;
}


.empty-introduction {
	margin-top: 15px;
}

.user-edit-icon {
	position: absolute;
	left: 0;
	margin-top: 15px;  

	a {
		cursor: pointer;
		&:hover,
		&:focus {
			text-decoration: none; 
		}
	}  
}

.profile-img-col {
	margin-top: 50px;
	border-right: 1px solid $white-1; 
}

.profile-image {
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	margin: 0 auto; 
	margin-bottom: 20px; 
	border: 5px solid $white-1; 
}


.profile-post-description,
.profile-post-title {
	-ms-word-break: break-all; 
	word-break: break-all; 
}

.user-post-container {
	background-color: #fff;
	padding: 20px 30px 40px;
	margin-top: 20px; 
	margin-bottom: 20px;  
}


.profile-post-title {
	color: $white-1;
	padding-bottom: 15px;
	border-bottom: 1px solid $dark-blue-2;  
	text-transform: capitalize;
	line-height: 1.6;  
}

.profile-post-description {
	margin-top: 30px;
	margin-bottom: 20px; 
	line-height: 1.6;
}

.user-post-info {
	margin-bottom: 5px; 

	i,span {
		margin-right: 5px; 
	}
}

.btn-profile {
	margin-top: 20px; 
}

.profile-right-col {
	margin-top: 50px; 
}

.profile-heading-margin {
	margin-top: 10px;
}

.fa.user-link {
	margin-right: 7px; 
	font-size: 25px;
}

i.user-link {
	font-size: 15px;
	margin-right: 7px; 
}

.user-website {
	margin-top: 10px; 
	.fa {
		font-size: 15px;
		vertical-align: middle; 
	}
}

.user-names {
	border-bottom: 1px solid $black-1; 
	padding-bottom: 10px; 
}

.other-info {
	margin-top: 10px; 
}
/*=========================
TABS
===========================*/
.nav-tabs {
	li {
		background-color: #FFF; 
		width: 25%;
		display: inline-block;
		text-align: center;
		margin: 0; 
		overflow: hidden; 
		border: 1px solid $light-blue; 
		
		a {
			border: 0 !important;
			margin: 0 !important;  
			display: block;
			padding: 10px 0;
			-webkit-border-radius: 0 !important; 
			border-radius: 0 !important;
			color: $dark-blue; 
			@include transition(.7s);
			
			&:hover {
				background-color: $light-blue !important;
				color: #fff;
			}
		}
		
		&.active {
			a {
				background-color: $light-blue !important;
				color: #fff !important; 
			}
		}
	}
}

.tab-float {
	padding: 50px 0px; 
}

.user-show-tabs {
	li {
		width: 33.333%; 
	}
}