<div class="landing-navigation" id="nav">
    <div class="header-logo">

    </div><!-- logo -->

    <%= link_to "Login", new_user_session_path, class: "btn-bordered btn-landing-top text-uppercase" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn-landing-top orange" %>


  </div><!-- top-links -->