<div class="landing-navigation" id="nav">
    <div class="header-logo">

    </div><!-- logo -->

    <%= link_to "Login", new_user_session_path, class: "btn-bordered btn-landing-top text-uppercase" %>


  </div><!-- top-links -->