<nav>
  <div class="logo-con">
    logo
  </div>
  <ul class="nav-list">
    <li>
      <%= link_to "Home", root_path, class: "home-link" %>
    </li>
    <li>
      <%= link_to new_post_path do%>
        <div class="i fa fa-plus"></div>
      <% end %>
    </li>
    <li></li>
  </ul>
</nav>