<nav class="main-nav">
  <div class="search-content">

      <%= search_form_for @q do |f| %>
      <%= f.search_field :description_or_title_or_comments_content_cont, class: "form-control nav-search"%>
      <i class="icon-elegant-font-180-8914 nav-search-icon"></i>
      <% end %>
  </div><!-- content -->
  <div class="right-nav">


    <%= link_to new_post_path, class: "plus-anchor", id: "new-post" do %>
      <span class="icon-elegant-font-172-8820 icon-plus"></span>
    <% end %>
  </div>


  <div class="notifications" style="position:absolute; right: 500px;">    
    <%= render partial: "notifications/dropdown" %>
  </div>

  <div class="notifications">
    <%#=  render partial: "layouts/messages_dropdown" %>
  </div>

</nav>

<script>
  $(".nav-search").val("");
  $(".nav-search").click(function(event){
    event.stopPropagation();
    $(this).addClass("active-search");
  });

  $(".nav-search-icon").click(function(event){
     event.stopPropagation();
    $(".nav-search").addClass("active-search");
  });

  $("html").click(function(){
    $(".nav-search").val("");
    $(".nav-search").removeClass("active-search");
  });
</script>