<nav class="nav">
  <div class="right-nav">
    <div class="fa-plus-con">
      <i class="fa fa-plus fa-nav-plus">
        <%= link_to "NeW", new_post_path %>
      </i>
    </div>
  </div>

  <%= link_to "All", posts_path %>
</nav>