<nav>
  <div class="logo-con">
    logo
  </div>
  <ul class="nav-list">
    <li>
      <%= link_to root_path, class: "home-link" do %>
        <i class="fa fa-home"></i>
      <% end %>
    </li>
    <li>
      <%= link_to new_post_path, class: "home-link" do%>
        <i class="i fa fa-plus"></i>
      <% end %>
    </li>
    <li></li>
  </ul>
</nav>