<nav class="main-nav">
 
  <div class="right-nav">
    <%= link_to "Ask", new_post_path, class: "ask", id: "new-post" %>
  </div>


  <div class="notifications">    
    <%= render partial: "notifications/dropdown" %>
  </div>

</nav>

<script>
  $(".nav-search").val("");
  $(".nav-search").click(function(event){
    event.stopPropagation();
    $(this).addClass("active-search");
  });

  $(".nav-search-icon").click(function(event){
     event.stopPropagation();
    $(".nav-search").addClass("active-search");
  });

  $("html").click(function(){
    $(".nav-search").val("");
    $(".nav-search").removeClass("active-search");
  });
</script>