<nav class="nav">
  <div class="right-nav">
    <div class="fa-plus-con">
      <%= link_to new_post_path do %>
        <i class="fa fa-plus fa-nav-plus">
        </i>
      <% end %>
    </div>
  </div>

  <%= link_to "All", posts_path %>
</nav>