<nav class="nav">
 
  <div class="right-nav">
    <div class="nav-right-list">

      <%= link_to root_path, class: "nav-anchor" do %>
      <span class="icon-elegant-font-111-8721 icon-nav"></span>
      <% end %>

      <%= link_to posts_path, class: "nav-anchor" do %>
      <span class="icon-elegant-font-249-10019 icon-nav"></span>
      <% end %>
      
      <%= link_to profile_path, class: "nav-anchor" do %>
      <span class="icon-elegant-font-242-10003 icon-nav"></span>
      <% end %>
    
    </div><!-- nav-list -->

    <%= link_to new_post_path, class: "plus-anchor" do %>
    <span class="icon-elegant-font-172-8820 icon-plus"></span>
    <% end %>
  </div>

    

</nav>