<nav class="nav">
  <%= link_to user_path(current_user) do%>
    <i class="fa fa-nav fa-user"></i>
  <% end %>

  <%= link_to new_post_path do%>
    <i class="fa fa-nav fa-plus"></i>
  <% end %>
</nav>