<div class="sidebar-wrapper col-sm-6 p-l-0 p-r-0">
  <div class="sidebar-content">
      <div class="right-inner-addon ">
    <i class="fa fa-search fa-nav-search"></i>    
    <input type="search" class="form-control nav-search" />
  </div>
   
  </div>
</div>
